<!-- app/views/pages/home.html.erb -->
<!DOCTYPE html>
  <html>
  <meta charset="UTF-8">
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= stylesheet_link_tag "home" %>
    <div class="jumbotron home-top">
      <div class="hero">
        <p>Perfect <br />Pictures</p>
        <p>Classic Captures</p>
        <h6>ALLOWING YOUR UNIQUE MOMENTS TO AGE GRACEFULLY</h6>
      </div>
    </div>



   <%#  <div class="jumbotron home-second">
      <div class="about">
          <h6>What are we.</h6>
          <p>A thing that you see in my pictures is that I was not afraid to fall in love with these people.</p>
      </div>
      <div class="contact">
      </div>
    </div> %>


    <div class="logos-container">
      <div data-w-id="4dca7924-df5b-ffba-c165-7c96a7b329c7" class="section-logos">
        <div class="small-heading-wrapper">
          <h2 class="heading-2">They talk about us</h2>
         </div>
        </div>
      </div>

      <div class="row logos-wrapper">
        <div class="col-sm brand-names p-2.5 m 1.5">
          <img src= "/assets/VOGUE_LOGO.svg">
        </div>
        <div class="col-sm brand-names">
          <img src= "/assets/Glamour-Logo.svg">
        </div>
        <div class="col-sm brand-names">
          <img src= "/assets/narcos-1.svg">
        </div>
        <div class="col-sm brand-names">
          <img src= "/assets/time-logo.svg">
        </div>
      </div>
    </div>
  </body>
</html>

