<!-- app/views/pages/home.html.erb -->
<!DOCTYPE html>
  <html>
  <meta charset="UTF-8">
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= stylesheet_link_tag "home" %>

    <div class="jumbotron home-top">
      <div class="hero">
        <p>Perfect <br />Pictures</p>
        <p>Classic Captures</p>
        <h6>ALLOWING YOUR UNIQUE MOMENTS TO AGE GRACEFULLY</h6>
      </div>
    </div>  

    <div data-w-id="4dca7924-df5b-ffba-c165-7c96a7b329c7" class="section-logos">
      <div class="logos-container">
        <div class="small-heading-wrapper">
          <h2 class="heading-2">They talk about us</h2> 
         </div> 
      </div>  
    </div>  

   <%#  <div class="jumbotron home-second">
      <div class="about">
          <h6>What are we.</h6>
          <p>A thing that you see in my pictures is that I was not afraid to fall in love with these people.</p>
      </div>
      <div class="contact">
      </div>
    </div> %>


  <div class="container">
    <div class="row">
      <div class="col1">
        Column name
      </div>
      <div class="col2">
        Column
      </div>
      <div class="col3">
        Column
      </div>
    </div>
  </div>
  </body>
</html>

