.home-top{
  background-image: url('photography.jpg');
  background-size: cover;
  padding-bottom: 57.5%;
}

.hero {
  position: absolute; top: 350px; right: 400px;
  font-size: 75px;
  font-style: oblique;
  bottom: 0px;
}

.home-second {
  background-image: url('flower.jpg');
  background-size: cover;
  padding-bottom: 45%;
  margin: auto;
}

.home-second about {
  margin-bottom: 5px;
  font-style: oblique;
}


.col1 {
  background-image: url('image2.jpg');
}

.logos-container {
  flex-direction: column;
  align-items: center;
  padding: 8em 2em;
  display: flex;
  overflow: visible;
}

.section-logos {
  width: 100vw;
  height: auto;
  max-width: 100%;
  background-color: var(--d-s-white);
  margin-top: 0;
  position: relative;
}

.heading-2 {
  color: var(--d-s-black);
  text-align: center;
  text-transform: none;
  padding-left: 0;
  padding-right: 0.2em;
  font-family: Ppeditorialnew, sans-serif;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 200;
  line-height: 1.4em;
}

