<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">VisionVista Studio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav">
      <ul class="navbar-nav">
        <% if customer_signed_in? %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/customers", method: :delete>logout</a>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_customer_registration_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_customer_session_path, class: "nav-link active" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Home", "/homes", class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>

</body>
</html>


